DATABASE_URL="postgresql://USER@localhost:PORT/product_manager?schema=public"
JWT_SECRET="JSONWEBTOKENSECRET_minimum_32_chars"
JWT_EXPIRES_IN="24h"
ALLOWED_ORIGINS="origin,origin2,etc"
SERVER_PORT="1234"