# Identifiants alignés avec docker-compose.yml (postgres local)
DATABASE_URL="postgresql://product_user:product_password@localhost:5435/product_manager?schema=public"
JWT_SECRET="JSONWEBTOKENSECRET_minimum_32_chars"
JWT_EXPIRES_IN="24h"
ALLOWED_ORIGINS="origin,origin2,etc"
SERVER_PORT="1234"
 #LOCAL_ENV ne doit pas exister en PRODUCTION auth.ts
 LOCAL_ENV='local_env'